* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: rgb(54, 54, 54);
}

h1 .abajo {
    margin-top: 50px;
}

.wrap {
    width: 1900px;
    max-width: 90%;
    margin: 0px auto 30px auto;
}

.portada {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 1900px;
    max-width: 100%;
    margin-top: 20px;
    background-image: linear-gradient(to bottom right,#327e6d,#7ad6ba);
}

.portada img {
    width: 200px;
    max-width: 90%;
    margin-left: 40px;
}

.col1 {
    width: 1000px;
    max-width: 50%;
    margin: 0px;
}

.col2 {
    width: 400px;
    max-width: 90%;
    margin: auto auto auto 200px;
}

.col2 .fil {
    margin-top: 10px;
    display: flex;
}

.col2 span {
    font-size: 30px;
    margin-right: 10px;
}

.col2 .fil a {
    margin-top: 6px;
}

@media screen and (max-width: 1166px){
    .col2{
        margin: auto auto auto 150px;
    }
}

@media screen and (max-width: 950px){
    .col2{
        margin: auto auto auto 50px;
    }
}

@media screen and (max-width: 681px){
    .col2{
        margin: auto auto auto 10px;
    }
}

@media screen and (max-width: 600px){
    .portada {
        flex-wrap: wrap;
    }

    .col2{
       display: none;
    }
}

/*-----------------------*/

/*ul.tabs {
    width: 100%;
    background: #000;
    list-style: none;
    display: flex;
}

ul.tabs li a {
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
}

ul li {
    width: 18%;
    flex-basis: 0;
    flex-grow: 1;
}*/



nav {
    width: 100%;
    background: #000;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul.tabs {
    list-style: none;
    display: flex;
}

nav ul li {
    width: 18%;
    flex-basis: 0;
    flex-grow: 1;
}

nav ul li a {
    display: block;
    padding: 15px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    
}

ul.tabs li a span {
    margin-right: 5px;
}

.active {
    background: #22B263;
}

ul li a:hover {
    background-color: rgb(56, 77, 65);
}

/*-----------------------*/

.secciones {
    width: 100%;
    background: #fff;
}

.secciones article {
    padding: 0px;
}

#tab1{
    padding: 0px;
}

#tab1 p {
    padding: 0px 30px 30px 30px;
}

article img {
    width: 100%;
    margin-bottom: 0px;
}

article h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.secciones article p{
    text-align: justify;
    margin: 0px;
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 90%;
    max-width: 1500px;
    box-shadow: 0px 4px 3px rgba(0,0,0,.5);
    }

@media screen and (max-width:800px) {
    ul.tabs li{
        width: none;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (max-width:750px) {
    ul.tabs li a{
        padding: 15px 0px;
    }

    ul.tabs li a .tab-text{
        display: none;
    }

    .secciones article {
        padding: 0px;
    }

    .wrap {
        width: 1500px;
        max-width: 95%;
        margin: 0px auto 30px auto;
    }

    .menu-fixed {
        position: fixed;
        z-index: 1000;
        top: 0;
        width: 95%;
        max-width: 1500px;
        box-shadow: 0px 4px 3px rgba(0,0,0,.5);
        }
}

/*---------------------------------------------------slider-----------------------------------------------------*/

.slider-all img{
    max-width: 100%;
}

.slider-all{
    position: relative;
    max-width: 1910px;
    width: 100%;
    overflow: hidden;
}

.slide{
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination{
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #327e6d;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover{
    transform: scale(2);
}

.pagination-item img{
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img{
    opacity: 1;
    transform: scale(1);
}


input[id="1"]:checked ~ .slide{
    animation: none;
    transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
    background: #fff;
}

input[id="2"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
    background: #fff;
}


input[id="3"]:checked ~ .slide{
    animation: none;
    transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item[for="3"]{
    background: #fff;
}


@keyframes autoplay{
    33%{
        transform: translate3d(calc(-100% * 0), 0, 0);
    }
    
    66%{
        transform: translate3d(calc(-100% * 1), 0, 0);
    }
    
    100%{
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}

/*---------------------------------------------------contenido-----------------------------------------------------*/

.espacio {
    margin-top: 40px;
}

table tr {
    font-size: 30px;
    text-align: center;
    color: #fff;
    background-image: url("../imagenes/texturaverde-01.png");
    -webkit-background-size: 100% 100%;           /* Safari 3.0 */
     -moz-background-size: 100% 100%;           /* Gecko 1.9.2 (Firefox 3.6) */
       -o-background-size: 100% 100%;           /* Opera 9.5 */
          background-size: 100% 100%;
  }

table tr td h1 {
    margin: 10px 0px;
}

@font-face {
    font-family: 'miFuente';
    src: url(fuentes_personalizadas/Montserrat-Regular.ttf);
}

.fuente_personalizada {
    font-family: 'miFuente';
    /*font-size: 90%;*/
}

@font-face {
    font-family: 'miFuente-bold';
    src: url(fuentes_personalizadas/Montserrat-ExtraBold.ttf);
}

.fuente_personalizada_bold {
    font-family: 'miFuente-bold';
    /*font-size: 90%;*/
}

/*---------------------------------------------------imagenes-----------------------------------------------------*/

.container-all {
    width: 1600px;
    max-width: 95%;
    margin: auto;
    padding: 20px;
    border-top: 6px;
}

.titulo {
    font-size: 30px;
    margin-bottom: 40px;
    margin-left: 10px;
}

.container-all img {
    width: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-all p {
    font-size: 14px;
    padding: 0px;
}

.bajo_boton {
    margin-top: 20px;
}

@media screen and (max-width:750px) {
    .container-all img {
        width: 100%;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

/*---------------------------------------------------modal-----------------------------------------------------*/

/*.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0px 20px;
    /*background: rgba(86, 95, 92, 0.5);
}*/

.abrir {
    margin: 50% 10%;
    padding: 1% 3%;
    background-image: linear-gradient(to bottom right,#027e63,#06d496);
    border-radius: 30px;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 3px 3px rgba(18, 110, 80, 0.5);
    transition: 0.2s;
}

.abrir:hover { /*animacion del boton abrir*/
    box-shadow: 0 0 15px 10px rgba(18, 110, 80, 0.2);
    transform: translateY(-2px);
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: 0.2s;
    opacity: 0;
    z-index: -1;
}

/*-----*/

.show {
    opacity: 1 !important;
    z-index: 9999;
}

.modal-container {
    width: 800px;
    max-width: 90%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-image: linear-gradient(to bottom right,#327e6d,#7ad6ba);
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgba(0,0,0, 0.2);
}

.modal-contenido {
    position: relative;
    padding-top: 30px;
}

.modal-contenido .cerrar {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid rgba(255,255,255,0.5);
    color: #fff;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.modal-contenido .cerrar:hover {
    border: 1px solid rgba(255,255,255,1);
    transform: translateY(-2px);
}

.modal-contenido h1,.modal-contenido p{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.modal-contenido .separador {
    border-bottom: 1px solid rgba(255,255,255,0.5);
    margin: 30px 0px 40px 0px;
}

.modal-contenido .aceptar {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    transition: 0.2s;
}

.modal-contenido .aceptar:hover {
    border: 1px solid rgba(255,255,255,1);
    transform: translateY(-2px);
}

@media screen and (max-width:600px) {
    .modal-container {
        height: 600px;
        max-height: 90%;
    }
}


/*---------------------------------------------------footer-----------------------------------------------------*/
a {
    text-decoration: none;
}

footer {
    width: 100%;
    background: #202020;
    color: #fff;
    /*padding: 40px;*/
}

.footer-all {
    background-image: url("../imagenes/Textura-01.png");
    width: 100%;
    max-width: 1900px;
    margin: auto;
    padding: 40px;
}

.footer-principal {
    display: flex;
    justify-content: space-between;
}

.column1 {
    max-width: 501px;
    width: 100%;
    margin-left: 10px;
}

.column1 img {
    align: center;
    width: 300px;
    max-width: 90%;
    margin-left: 40px;
}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}

.column2 {
    max-width: 699px;
}

.column2 h1 {
    margin-top: 30px;
    font-size: 22px;
}

.column2 .filas {
    margin-top: 20px;
    display: flex;
}

.column2 .filas span {
    font-size: 30px;
    margin-right: 10px;
}

.column2 .filas a {
    margin-top: 6px;
    color: #fff;
}

.column3 {
    max-width: 699px;
}

.column3 h1{
    margin-top: 30px;
    font-size: 22px;
}

.column3 .filas2 {
    margin-top: 20px;
    display: flex;
}

.column3 .filas2 span {
    font-size: 30px;
    margin-right: 10px;
}

.column3 .filas2 label {
    margin-top: 6px;
    color: #fff;
}

.footer-abajo {
    width: 100%;
    background: #22B263;
}

.footer-abajo .copyright {
    color: #fff;
}

.footer {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

@media screen and (max-width: 1060px){
    .footer-all {
        background-image: url("../imagenes/textura gris-01.png");
    }
    
    .footer-principal {
        flex-wrap: wrap;
    }
    
    .colunm2 h1,
    .column3 h1 {
        margin-top: 0px;
    }

    .column2,
    .column3{
        margin-top: 40px;
    }
}


.volver {
    margin: 90% 0px 100px 70%;
    padding: 1% 2%;
    background-image: linear-gradient(to bottom right,#434746,#707070);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 30px;
    font-size: 100%;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 0 3px 3px rgba(116, 124, 121, 0.5);
    transition: 0.2s;
}

.volver:hover { /*animacion del boton abrir*/
    box-shadow: 0 0 15px 10px rgba(243, 247, 245, 0.2);
    transform: translateY(-2px);
}

.flotante {
    display:scroll;
    position:fixed;
}

.volver-menu {
    margin-left: 45%;
}
